*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  transition: all .5s;
  list-style: none;
  user-select: none;
}
body{
  background: #A3A3A3;
  width: 100vw;
}
nav{
  background: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: sticky;
}
nav > .upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}
.nav-left{
  color: #000;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  img{
    margin-left: 50px;
  }
}
#menubar{
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity .5s;
}
/* side menu design*/
.side-menu{
  position: absolute;
  background-color: white;
  width: 400px;
  overflow: hidden;
  top: 50px;
  height: 1000px;
  left: -1000px;
  z-index: 99;
} 
.side-menu .login{
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(0, 81, 255);
  justify-content: space-between;
  align-items: center;
  color: white;
  li{
    list-style: none;
    margin-left: 1rem;
  }
}
.side-menu .login li img{
  height: 30px;
  margin-top: 5px;
  margin-right: 1rem;
  border-radius: 20px;
}
.side-menu ul{
  /* padding: .5rem 1rem; */
  height: 100vh;
  li{
    display: block;
    font-size: large;
    padding: .5em 1em;
    color: #929292;
  }
}
.side-menu > ul > li:hover{
  background: grey;
  color: white;
}
.display{
  left: -10px;
}









#search{
  display: none;
}
.nav-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  
}
.nav-right > i{
    position: relative;
}







.location{
  display: flex;
  margin: 10px 0;
  align-items: center;
  span{
    font-size: 1rem;
    a{
      text-decoration: none;
      color: blue;
    }
  }
}
.search{
  margin: 10px 10px;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  border: 1px solid #488BD2;
  padding: 5px 0;
  input{
    width: 100%;
    background: white;
    outline: none;
    border: none;
    font-size: 1rem;
    color: black;
  }
  i{
    color: #488BD2;
  }
}
.no{
  display: none !important
}
.slider{
  margin: 5px 5px;
  width: calc(100% - 10px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  z-index: -1;
}
.slider .slides > img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid white;
  transition: animation .5s ;
  animation: a 10s alternate infinite;
}

@keyframes an{
  0%{transform: translatex(0%);}
  5%{transform: translatex(0%);}
  10%{transform: translatex(-100%);}
  15%{transform: translatex(-100%);}
  20%{transform: translatex(-200%);}
  25%{transform: translatex(-200%);}
  30%{transform: translatex(-300%);}
  35%{transform: translatex(-300%);}
  40%{transform: translatex(-400%);}
  45%{transform: translatex(-400%);}
  50%{transform: translatex(-500%);}
  55%{transform: translatex(-500%);}
  60%{transform: translatex(-600%);}
  65%{transform: translatex(-600%);}
  70%{transform: translatex(-700%);}
  75%{transform: translatex(-700%);}
  80%{transform: translatex(-800%);}
  85%{transform: translatex(-800%);}
  90%{transform: translatex(-900%);}
  95%{transform: translatex(-900%);}
  100%{transform: translatex(-0%);}
}


.section1{
  width: calc(100% - 20px);
  height: auto;
  background-color: #69DBFF;
  margin: 5px 10px;
  border-radius: 15px;
  padding: 10px 0 10px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section1 > .upper{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  span{
    display: block;
    padding: 5px;
  }
}
.section1 > .container{
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px 10px 10px;
}
.section1 .container > .img{
  width: 45%;
  flex-grow: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #E8E1E1;
  span{
    justify-content: flex-start;
  }
}
.section1 .container .img > img{
  width: 95%;
}


.section2{
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  margin: 5px 0px;
  padding: .5rem 0;
  z-index: -1;
  background-color: white;
  h3{
    padding: .2rem .7rem;
    position: sticky;
    left: 0;
    z-index: 1;
  }
}
.section2::-webkit-scrollbar {
    height: 5px;
}

.section2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.section2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.section2 > .container{
  display: flex;
  /* width: 345%; */
  width: fit-content;
  height: 200px;
  background: white;
  border: 1px solid #000;
  
}
.section2 > .container > .img{
  height: 97%;
  padding: 5px;
  margin: 5px;
  background: #E9EBFF;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  position: relative;
  img{
    height: 85%;
    margin: 5px;
  }
  span{
    display: block;
    padding-left: 10px;
  }
}

.section3{
  background: rgb(27, 126, 139);
  width: 100%;
  display: grid;
  border-radius: 10px;
  gap: 10px;
}
.section3 .innerSection1, .section3 > .innerSection2{
  
  margin: .4rem;
  h3{
    grid-column: span4;
    padding: 5px;
  }
}
.section3 .innerSection1 .box, .section3 .innerSection2 .box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #A3A3A3;
  gap: 10px;
  padding: .1em;
  p{
    font-size: .8rem;
    span{
      color: green;
      font-weight: 600;
    }
  }
  .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    img{
      width: 80%;
      height: auto;
      margin-top: .5rem;
    }
  }
}


    /* section 4 design */

.section4{
  width: 100%; 
  /* margin: 10px; */
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: .5rem;
  background-color: lightskyblue;
}
.section4 .main-1, .section4 .main-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 1fr;;
  border: 1px solid grey;
  gap: 10px;
  border-radius: 1rem;
  h3{
    padding: .5rem;
  }
}
.section4 .main-1 .box1, .section4 .main-2 .box1{
  grid-column: span 2;
  /* height: 50px; */
  background-color: #A3A3A3;
}
.section4 .main-1 .box2, .section4 .main-2 .box2{
  grid-row: span 2;
}
.section4 .main-1 .box, .section4 .main-2 .box{
  background-color: #690c62;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  p{
    font-size: .8rem;
  }
}
.section4 .main-1 .box .img-box, .section4 .main-2 .box .img-box{
  width: 80%;
  img{
    width: 100%;
  }
}
/* .section4 .main-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3 1fr);
  gap: 10px;
  width: 50%;
}
.section4 .main-2 .box1{
  grid-column: span 2;
  background-color: #E8E1E1;
  height: 50px;
  padding: 5px;
}
.section4 .main-2 .box2{
  grid-row: span 2;
}
.section4 .main-2 .box{
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box .img-box{
  width: 80%;
  img{
    width: 100%;
  }
} */

