*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
  padding: 0px;
  font-family: Arial;
  /* overflow: hidden; */
}
@media screen and (min-width: 600px;) {
  body{
    width: 100%;
  }
}
nav{
  /* width: 100%; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 10px;
}
#search{
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; 
}
.s-icon{
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  background-color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.s-icon{
  font-size: 1rem;
  background: white;
  padding: 12.5px;
}
/*shopping cart*/

.fa-cart-shopping{
  position: relative;
}
.fa-cart-shopping:hover .cart-ul li{
  
}
.cart-ul.cart-see{
  max-height: 600px;
}

/* cart ul */
.cart-ul{
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  background: black;
  width: 200px;
  right: 0px;
  top: 30px;
  border-radius: 5px;
  transition: max-height .5s;
}
.cart-img{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .cart-caption{
      margin: 2px 2px;
      display: flex;
      align-items: center;
      width: 70%;
      white-space: wrap;
      font-size: .6rem;
      
      span{
        margin: 0 5px;
        color: white;
      }
    }
    .item-count{
  
      padding: 5px;
      display: block;
      color: white;
      font-size: 1rem;
  }
}
.cart-img:nth-child(1),.cart-img:nth-child(3){
  color: whitesmoke;
}
.cart-count{
  display: block;
  padding: 1px;
  background: red;
  font-size: .5rem;
  position: absolute;
  top: -5px;
  left: 5px;
}
.s-icon a{
  margin: 0;
  padding-bottom: 2.5px;
  padding-left: 2px;
  padding-right: 3px;
}
.s-icon:hover{
  background-color: white;
  color: black;
}
nav a{
  padding: 2px 7px;
  margin: 2px 0px;
}
nav a:hover{
  background-color: #404040;
  color: white;
}
.user ul li:hover{
  border-radius: 3px;
  background-color: #404040;
  color: white;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li{
  display: inline-block;
  white-space: nowrap;
  padding: 5px;
}
ul li a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.user-child{
  display: none; 
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  transition: max-height display .5s;
}
.user ul li:hover .user-child{
  position: absolute;
  display: block;
  max-height: 600px;
  background-color: black;
  margin-top: 7.8px;
}
.user-child ul{
  margin: 0px;
  padding: 0px;
}
.user-child ul li{
  padding: 5px;
  display: block;
}
.user-child ul li i,.menu-dd-containt a i{
  margin-right: 8px;
}
.user-child ul li a{
  font-size: 15px;
}
.menu-dropdown{
  position: relative;
}
.menu-dropdown:hover .menu-dd-containt{
  position: absolute;
  display: block;
  background-color: black;
  margin-top: 8px;
  margin-left: -150px;
  transition: 1s ease-in-out;
}
.menu-dd-containt ul li{
  padding: 5px;
  display: block;
}
.menu-dd-containt{
  display: none;
}
.menu-dd-containt a{
  text-decoration: none;
  display: block;
  color: white;
  white-space: nowrap;
}


/*               image slider             */


.slider{
  overflow: hidden;
  width: 100%;
  /* z-index: 1; */
}

figure{
  position: relative;
  margin: 2px 0px;
  padding: 0px;
  left: 0;
  width: 400%;
  animation: 10s slide infinite;
}

.slide{
  position: relative;
  width: 25%;
  float: left;
}


.slide img{
  width: 100%;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    100%{
        left:0;
    }
}
/*    ***** panel ***** ****/
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.panel{
  grid-column: span 2;
  width: 100%;
  margin-top: 3px;
  box-sizing: border-box;
  background-color: black;
}
.panel-header{
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  color: white;
}
.colgate{
  display: flex;
  justify-content: space-around;
}
.colgate-img{
  margin: 5px 3px;
  /* width: 19%; */
  /* height: 100px; */
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: .1px solid white;
  position: relative;
  transition: all .5s;
}
.colgate-img:hover .add-to-cart{
  display: block;
}
.colgate-img img{
  width: 70%;
  height: 70%;
  transition: all ease-in .1s;
}
.colgate-img img:active,.panel a:active{
  box-shadow: 2px 2px 5px grey;
  border-radius: 3px;
  scale: .9;
}
.colgate-caption{
  font-size: .8rem;
  margin: 0px;
  color: white;
  text-align: center;
}
.colgate-caption span{
  color: greenyellow;
}

/*****panel2******/

.panel2{
  margin-top: 3px;
  display: grid;
  background-color: black;
  grid-template-columns: auto auto;
} 
.panel2-header{
  padding: 3px;
  border: .1px solid grey;
  display: flex;
  justify-content: space-between;
  color: white;
}
.panel2-header h4{
  margin: 0px;
  
}
.panel2-img{
  border: .1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.panel2-img img{
  border: 1px solid black;
  border-radius: 5px;
  object-fit: contain;
  transition: ease-in .2s;
  overflow: hidden;
}
.panel2-img p{
  font-size: .7rem;
  color: white;
  margin: 2px 0px 0px 0px;
  text-align: center;
}
.panel2-img img:active{
  border: none;
  scale: .9;
  
}



.panel3{
  margin-top: 3px;
  box-sizing: border-box;
  display: grid;
  background-color: black;
  grid-template-columns: auto auto;
}
.panel3-header{
  padding: 3px;
  border: .1px solid grey;
  display: flex;
  justify-content: space-between;
  color: white;
}
.panel3-header h4{
  margin: 0px;
  
}
.panel3-img{
  border: .1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.panel3-img img{
  border-radius: 5px;
  transition: scale ease-in .2s;
}
.panel3-img p{
  text-align: center;
  font-size: .7rem;
  color: white;
  margin: 3px 0px 0px 0px;
}
.panel3-img img:active{
  border: none;
  scale: .9;
}

/**** panel4 design  *****/


.panel4{
  grid-column: span 2;
  margin-top: 5px;
  padding: 8px;
  overflow: auto;
  border-radius: 5px;
  background: linear-gradient(to top, #FF88CF 0%, #FF88CF 70%, #FF3FB0 70%, #FF3FB0 100%);
}
.panel4-container{
  width: 950px;
  margin-top: 10px;
  padding: 2px;
  border-radius: 5px;
  display: flex;
}
.panel4-img{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  width: 100px;
  transition: all linear .2s;
  color: white;
  border-radius: 5px;
  z-index: 0;
  background: linear-gradient(to top,black 0%,black 20%,white 20%,white 100%);
  img{
    border-radius: 5px;
    overflow: hidden;
    object-fit: contain;
  }
  p{
    margin: 2px;
    text-align: center;
  }
}
.panel4-img:active{
  scale: .9;
}


/*** panel5 ***/

.panel5{
  height: auto;
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  grid-column: span 2;
  background: linear-gradient(to top, rgba(59, 59, 59, 1) 0%, #505EC7 80%, #4E85E2 80%, #4A7DE0 100%);
  color: white;
  
  
  
}
.panel5 .top-pick{
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  span{
    background: black;
    width: 40px;
    text-align: center;
    border-radius: 10px;
  }
}
.panel5-container{
  /* margin-top: 50px; */
  border-radius: 10px;
  background-color: #000000;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
  padding: 5px;
  
}
.panel5-img{
  width: 70%;
  height: 70%;
}
.panel5-img img{
  width: 100%;
  height: 100%;
}




/*    add to cart button   */
.add-to-cart{
  margin: 2px auto;
  width: 50px;
  background: olive;
  color: white;
  border-radius: 5px;
  outline:none;
  border:none;
  transition: transform .1s;
  display: none;
}

.add-to-cart:active{
  transform: scale(.9);
}